# Liverpool Tier-2 HTCondor configuration: fairshares

# use this to stop jobs from starting.
# CONCURRENCY_LIMIT_DEFAULT = 0

# Half-life of user priorities
PRIORITY_HALFLIFE = 259200

# Handle surplus
GROUP_ACCEPT_SURPLUS = True
GROUP_AUTOREGROUP = True

# Weight slots using CPUs
#NEGOTIATOR_USE_SLOT_WEIGHTS = True

# See: https://condor-wiki.cs.wisc.edu/index.cgi/tktview?tn=3271
NEGOTIATOR_ALLOW_QUOTA_OVERSUBSCRIPTION = False

# Calculate the surplus allocated to each group correctly
NEGOTIATOR_USE_WEIGHTED_DEMAND = True

GROUP_NAMES = \
        group_HIGHPRIO,  \
        group_ALICE,  \
        group_ATLAS,  \
        group_HYPERK_ORG,  \
        group_BIOMED,  \
        group_CALICE,  \
        group_LSST,  \
        group_CMS,  \
        group_DTEAM,  \
        group_ESR,  \
        group_GEANT4,  \
        group_GRIDPP,  \
        group_ILC,  \
        group_LHCB,  \
        group_DUNE,  \
        group_MAGIC,  \
        group_EPIC_VO_GRIDPP_AC_UK,  \
        group_MICE,  \
        group_VO_MOEDAL_ORG,  \
        group_OPS,  \
        group_PHENO,  \
        group_PLANCK,  \
        group_SKATELESCOPE_EU,  \
        group_CERNATSCHOOL_ORG,  \
        group_T2K_ORG,  \
        group_ZEUS,  \
        group_VO_NORTHGRID_AC_UK,  \
        group_LZ,  \
        group_SNOPLUS_SNOLAB_CA,  \
        group_NA62_VO_GRIDPP_AC_UK,  \

GROUP_QUOTA_DYNAMIC_group_HIGHPRIO  = 0.05
GROUP_QUOTA_DYNAMIC_group_ALICE =  0.05
GROUP_QUOTA_DYNAMIC_group_ATLAS =  0.65
GROUP_QUOTA_DYNAMIC_group_HYPERK_ORG =  0.01
GROUP_QUOTA_DYNAMIC_group_BIOMED =  0.01
GROUP_QUOTA_DYNAMIC_group_CALICE =  0.01
GROUP_QUOTA_DYNAMIC_group_LSST =  0.01
GROUP_QUOTA_DYNAMIC_group_CMS =  0.01
GROUP_QUOTA_DYNAMIC_group_DTEAM =  0.01
GROUP_QUOTA_DYNAMIC_group_ESR =  0.01
GROUP_QUOTA_DYNAMIC_group_GEANT4 =  0.01
GROUP_QUOTA_DYNAMIC_group_GRIDPP =  0.01
GROUP_QUOTA_DYNAMIC_group_ILC =  0.01
GROUP_QUOTA_DYNAMIC_group_LHCB =  0.20
GROUP_QUOTA_DYNAMIC_group_DUNE =  0.01
GROUP_QUOTA_DYNAMIC_group_MAGIC =  0.01
GROUP_QUOTA_DYNAMIC_group_EPIC_VO_GRIDPP_AC_UK =  0.01
GROUP_QUOTA_DYNAMIC_group_MICE =  0.01
GROUP_QUOTA_DYNAMIC_group_VO_MOEDAL_ORG =  0.01
GROUP_QUOTA_DYNAMIC_group_OPS =  0.01
GROUP_QUOTA_DYNAMIC_group_PHENO =  0.01
GROUP_QUOTA_DYNAMIC_group_PLANCK =  0.01
GROUP_QUOTA_DYNAMIC_group_SKATELESCOPE_EU =  0.01
GROUP_QUOTA_DYNAMIC_group_CERNATSCHOOL_ORG =  0.01
GROUP_QUOTA_DYNAMIC_group_T2K_ORG =  0.01
GROUP_QUOTA_DYNAMIC_group_ZEUS =  0.01
GROUP_QUOTA_DYNAMIC_group_VO_NORTHGRID_AC_UK =  0.01
GROUP_QUOTA_DYNAMIC_group_LZ =  0.01
GROUP_QUOTA_DYNAMIC_group_SNOPLUS_SNOLAB_CA =  0.01
GROUP_QUOTA_DYNAMIC_group_NA62_VO_GRIDPP_AC_UK =  0.01

# Priority factors
DEFAULT_PRIO_FACTOR = 5000.00  
GROUP_PRIO_FACTOR_group_HIGHPRIO  = 1.00
GROUP_PRIO_FACTOR_group_ALICE = 10000.00
GROUP_PRIO_FACTOR_group_ATLAS = 10000.00
GROUP_PRIO_FACTOR_group_HYPERK_ORG = 10000.00
GROUP_PRIO_FACTOR_group_BIOMED = 10000.00
GROUP_PRIO_FACTOR_group_CALICE = 10000.00
GROUP_PRIO_FACTOR_group_LSST = 10000.00
GROUP_PRIO_FACTOR_group_CMS = 10000.00
GROUP_PRIO_FACTOR_group_DTEAM = 10000.00
GROUP_PRIO_FACTOR_group_ESR = 10000.00
GROUP_PRIO_FACTOR_group_GEANT4 = 10000.00
GROUP_PRIO_FACTOR_group_GRIDPP = 10000.00
GROUP_PRIO_FACTOR_group_ILC = 10000.00
GROUP_PRIO_FACTOR_group_LHCB = 10000.00
GROUP_PRIO_FACTOR_group_DUNE = 10000.00
GROUP_PRIO_FACTOR_group_MAGIC = 10000.00
GROUP_PRIO_FACTOR_group_EPIC_VO_GRIDPP_AC_UK = 10000.00
GROUP_PRIO_FACTOR_group_MICE = 10000.00
GROUP_PRIO_FACTOR_group_VO_MOEDAL_ORG = 10000.00
GROUP_PRIO_FACTOR_group_OPS = 10000.00
GROUP_PRIO_FACTOR_group_PHENO = 10000.00
GROUP_PRIO_FACTOR_group_PLANCK = 10000.00
GROUP_PRIO_FACTOR_group_SKATELESCOPE_EU = 10000.00
GROUP_PRIO_FACTOR_group_CERNATSCHOOL_ORG = 10000.00
GROUP_PRIO_FACTOR_group_T2K_ORG = 10000.00
GROUP_PRIO_FACTOR_group_ZEUS = 10000.00
GROUP_PRIO_FACTOR_group_VO_NORTHGRID_AC_UK = 10000.00
GROUP_PRIO_FACTOR_group_LZ = 10000.00
GROUP_PRIO_FACTOR_group_SNOPLUS_SNOLAB_CA = 10000.00
GROUP_PRIO_FACTOR_group_NA62_VO_GRIDPP_AC_UK = 10000.00

# Change the order in which the negotiator considers groups: (1) high priority groups used for
# SUM tests etc, (2) multicore groups ordered by how far below their quota each group is,
# (3) single core groups ordered by how far below their quota each group is

GROUP_SORT_EXPR = ifThenElse(AccountingGroup=?="<none>", 3.4e+38,                                                                 \
                  ifThenElse(AccountingGroup=?="group_HIGHPRIO", -23,                                                             \
                  ifThenElse(AccountingGroup=?="group_DTEAM", -18,                                                            \
                  ifThenElse(AccountingGroup=?="group_OPS", -17,                                                            \
                  ifThenElse(regexp("mcore",AccountingGroup),ifThenElse(GroupQuota > 0,-2+GroupResourcesInUse/GroupQuota,-1), \
                  ifThenElse(GroupQuota > 0, GroupResourcesInUse/GroupQuota, 3.3e+38))))))

